Source: nymea-plugins-simulation
Section: utils
Priority: options
Maintainer: Michael Zanetti <michael.zanetti@nymea.io>
Build-depends: debhelper (>= 9.0.0),
               libnymea-dev (>= 0.29~),
               pkg-config,
               qtbase5-dev,
               nymea-dev-tools:native,
Standards-Version: 3.9.3


Package: nymea-plugin-appliances-simulation
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-translations,
Description: nymea.io simulation plugin for appliances
 This plugin simulates household appliances such as dish washers or cleaning robots.

Package: nymea-plugin-closables-simulation
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-translations,
Description: nymea.io simulation plugin for things that can be opened and closed.
 This plugin simulates closable devices such as blinds, shutters, awnings and garages.

Package: nymea-plugin-energy-simulation
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-translations,
Description: nymea.io simulation plugin for energy use cases
 This plugin simulates energy related devices such as solar inverters,
 evchargers, energy meters and several other consumers.

Package: nymea-plugin-heating-simulation
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-translations,
Description: nymea.io simulation plugin for heating use cases
 This plugin simulates heating devices and systems such as smiple heating rods,
 thermostats and heat pumps

Package: nymea-plugin-sensors-simulation
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nymea-plugins-translations,
Description: nymea.io simulation plugin for sensors
 This plugin simulates sensors such as temperature- and humidity sensors,
 motion sensors etc.

